@font-face {
    font-family: "Roboto Mono";
    src: url(./fonts/roboto-mono_5.2.6/roboto-mono-latin-400-normal.woff2);
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/inter_5.0.16/inter-latin-700-normal.woff2);
}

@font-face {
    font-family: "Expletus Sans";
    src: url(./fonts/expletus-sans_5.0.18/expletus-sans-latin-700-normal.woff2);
}

:root {
    --color-light-blue: hsla(220, 100%, 73%, 1);
    --color-dark-blue: hsla(220, 100%, 8%, 1);
    --color-light-red: hsla(0, 100%, 73%, 1);
    --color-dark-red: hsla(0, 100%, 8%, 1);
    --color-light-green: hsla(120, 100%, 73%, 1);
    --color-dark-green: hsla(120, 100%, 8%, 1);
    --color-light-yellow: hsla(60, 100%, 73%, 1);
    --color-dark-yellow: hsla(60, 100%, 8%, 1);
    --color-light-pink: hsla(320, 100%, 73%, 1);
    --color-dark-pink: hsla(320, 100%, 8%, 1);
    --color-light-gray: hsla(120, 0%, 73%, 1);
    --color-dark-gray: hsla(125, 0%, 8%, 1);

    --color-surface-dark: rgba(0, 0, 0, 0.12);
    --color-surface-light: rgba(255, 255, 255, 0.08);

    --color-input-bg: var(--color-surface-dark);
    --color-theme-selector-bg: var(--color-surface-light);

    --color-radio-blue: var(--color-light-blue);
    --color-radio-red: var(--color-light-red);
    --color-radio-green: var(--color-light-green);
    --color-radio-yellow: var(--color-light-yellow);
    --color-radio-pink: var(--color-light-pink);
    --color-radio-gray: var(--color-light-gray);
}
:root:has(#inverse-btn:checked) {
    --color-input-bg: var(--color-surface-light);
    --color-theme-selector-bg: var(--color-surface-dark);
}
:root:has(#blue:checked) {
    --color-one: var(--color-light-blue);
    --color-two: var(--color-dark-blue);
}
:root:has(#blue:checked):has(#inverse-btn:checked) {
    --color-one: var(--color-dark-blue);
    --color-two: var(--color-light-blue);
}
:root:has(#red:checked) {
    --color-one: var(--color-light-red);
    --color-two: var(--color-dark-red);
}
:root:has(#red:checked):has(#inverse-btn:checked) {
    --color-one: var(--color-dark-red);
    --color-two: var(--color-light-red);
}
:root:has(#green:checked) {
    --color-one: var(--color-light-green);
    --color-two: var(--color-dark-green);
}
:root:has(#green:checked):has(#inverse-btn:checked) {
    --color-one: var(--color-dark-green);
    --color-two: var(--color-light-green);
}
:root:has(#gray:checked) {
    --color-one: var(--color-light-gray);
    --color-two: var(--color-dark-gray);
}
:root:has(#gray:checked):has(#inverse-btn:checked) {
    --color-one: var(--color-dark-gray);
    --color-two: var(--color-light-gray);
}
:root:has(#yellow:checked) {
    --color-one: var(--color-light-yellow);
    --color-two: var(--color-dark-yellow);
}
:root:has(#yellow:checked):has(#inverse-btn:checked) {
    --color-one: var(--color-dark-yellow);
    --color-two: var(--color-light-yellow);
}
:root:has(#pink:checked) {
    --color-one: var(--color-light-pink);
    --color-two: var(--color-dark-pink);
}
:root:has(#pink:checked):has(#inverse-btn:checked) {
    --color-one: var(--color-dark-pink);
    --color-two: var(--color-light-pink);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}

body {
    background-color: var(--color-two);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    background-color: var(--color-one);
    flex-direction: column;
    flex: 0 auto;
    width: 25%;
    max-width: 700px;
    min-width: 350px;
    gap: 20px;
    padding: 20px;
    transition-property: color, background-color;
    transition-duration: 200ms;
}

.logo {
    font-family: "Expletus Sans", sans-serif;
    font-size: 36px;
    color: var(--color-two);
}

.input-container {
    color: var(--color-two);
    gap: 10px;
    max-width: 300px;
    width: 300px;
    font-size: 20px;
    padding: 0 5px;
}

input {
    color: var(--color-two);
    background-color: var(--color-input-bg);
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

#refresh-btn {
    margin-left: auto;
    opacity: 0.5;
    transition: opacity 200ms;
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
}
#refresh-btn:hover {
    opacity: 1;
}
#refresh-btn.rotating {
    animation: rotate-animation 500ms ease-in-out;
}
#refresh-btn svg {
    color: var(--color-two);
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mode-btn input[type="radio"] {
    display: none;
}
.mode-btn {
    text-align: center;
    color: var(--color-two);
    background-color: transparent;
    border: 2px solid var(--color-two);
    border-radius: 12px;
    padding: 10px 40px;
    max-width: 300px;
    width: 300px;
    flex: 0;
    transition-property: color, transform, background-color;
    transition-duration: 200ms;
}
.mode-btn:hover {
    transform: scale(1.03);
}
.mode-btn:active {
    transform: scale(0.98);
}
.mode-btn:hover,
.mode-btn:has(input[type="radio"]:checked) {
    color: var(--color-one);
    background-color: var(--color-two);
}

.content {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
    transition-property: background-color;
    transition-duration: 200ms;
}

.theme-selector {
    background-color: var(--color-theme-selector-bg);
    border-radius: 16px;
    display: flex;
    align-items: center;
    height: 64px;
    gap: 16px;
    padding: 0 12px;
}

.separator {
    width: 2px;
    height: 70%;
    background-color: var(--color-one);
}

.input input[type="radio"],
.colors label,
#inverse-btn {
    display: none;
}

.input {
    display: flex;
    gap: 16px;
}

.colors {
    padding: 8px;
    display: flex;
    gap: 28px;
}

.colors input[type="radio"] {
    appearance: none;
    width: 24px;
    height: 24px;
    outline: 3px solid var(--radio-color);
    outline-offset: 3px;
    border-radius: 50%;
    transition-property: background-color, box-shadow;
    transition-duration: 200ms;
}
.colors input[type="radio"]:hover {
    background-color: hsla(from var(--radio-color) h s l / 0.4);
    box-shadow: 0px 0px 20px var(--radio-color);
}
.colors input[type="radio"]:checked {
    background-color: var(--radio-color);
}
.colors input[type="radio"]#blue {
    --radio-color: var(--color-radio-blue);
}
.colors input[type="radio"]#red {
    --radio-color: var(--color-radio-red);
}
.colors input[type="radio"]#green {
    --radio-color: var(--color-radio-green);
}
.colors input[type="radio"]#yellow {
    --radio-color: var(--color-radio-yellow);
}
.colors input[type="radio"]#pink {
    --radio-color: var(--color-radio-pink);
}
.colors input[type="radio"]#gray {
    --radio-color: var(--color-radio-gray);
}

.input svg,
label[for="inverse-btn"] svg {
    color: var(--color-one);
    height: 42px;
    aspect-ratio: 1;
    display: block;
    transition-property: opacity, transform, background-color;
    transition-duration: 200ms;
}
.input svg {
    border-radius: 12px;
    padding: 4px;
}
.input svg:hover,
label[for="inverse-btn"] svg:hover {
    opacity: 0.6;
}
.input input[type="radio"]:checked + label svg {
    background-color: var(--color-one);
    color: var(--color-two);
    padding: 4px;
}
html:has(#inverse-btn:checked) label[for="inverse-btn"] svg {
    transform: rotate(180deg);
}

.grid-container {
    height: 80vh;
    aspect-ratio: 1;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--color-one);
    transition-property: border-color;
    transition-duration: 200ms;
}

.grid-container.created {
    animation: create-grid 600ms;
    animation-fill-mode: backwards;
    animation-delay: 200ms;
}
@keyframes create-grid {
    0% {
        clip-path: circle(0% at 0 0);
    }

    100% {
        clip-path: circle(142% at 0 0);
    }
}

.grid-container.removed {
    animation: remove-grid 300ms;
    animation-fill-mode: forwards;
}
@keyframes remove-grid {
    0% {
        clip-path: circle(142% at 0 0);
    }

    100% {
        clip-path: circle(0% at 0 0);
    }
}

.cell {
    border: 1px solid var(--color-one);
    background-color: var(--color-two);
    transition-property: background-color, transform, box-shadow, border-color;
    transition-duration: 200ms;
}
.cell:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 50px var(--color-one);
}
html:has(#random-btn:checked) .cell:hover {
    box-shadow: 0px 0px 50px currentColor;
}
.cell.normal-fill {
    background-color: var(--color-one);
}
.cell.progressive-one {
    background-color: hsla(from var(--color-one) h s l / 0.2);
}
.cell.progressive-two {
    background-color: hsla(from var(--color-one) h s l / 0.4);
}
.cell.progressive-three {
    background-color: hsla(from var(--color-one) h s l / 0.6);
}
.cell.progressive-four {
    background-color: hsla(from var(--color-one) h s l / 0.8);
}
.cell.progressive-five {
    background-color: hsla(from var(--color-one) h s l / 1);
}

dialog::backdrop {
    background-color: hsla(from var(--color-two) h s l / 0.75);
}
dialog {
    margin: auto;
    background-color: var(--color-one);
    color: var(--color-two);
    border-radius: 16px;
}

.close-btn {
    background-color: transparent;
    position: absolute;
    right: 24px;
    top: 24px;
    display: block;
}
.close-btn svg {
    width: 42px;
    aspect-ratio: 1;
    color: var(--color-two);
}

dialog section {
    padding: 32px;
}
dialog h2,
dialog .logo {
    font-size: 28px;
    padding-bottom: 8px;
}
dialog p {
    padding: 4px 0;
}
dialog p,
dialog li {
    font-weight: 400;
}
dialog ul {
    padding-inline-start: 16px;
}
dialog li {
    list-style-position: inside;
    margin-top: 12px;
    font-size: 16px;
}
dialog svg {
    width: 32px;
    display: inline-block;
    vertical-align: middle;
}

kbd:not(:has(kbd)) {
    color: var(--color-two);
    background-color: var(--color-one);
    border-radius: 4px;
    padding-inline: 4px;
    box-shadow: 0 2px 0 3px var(--color-two);
    margin-inline: .25ch;
    font-family: "Roboto Mono", monospace;
}
